.navbar{
    flex-direction: column;
    height: 8vh;
    position: sticky;
    top: 0;
}
.txt_logo{
    margin-left: 0;
    font-size: 2rem;
}
.navbar ul li a {
    padding: 9px;
    font-size: 3vw;
    margin-top: -2vh;
}
#home-container{
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: -8vh;
}
#bio p{
    line-height: 10vh;
    font-size: 5rem;
    margin-left: 0;
}
#bio{
    text-align: center;
    margin-top: 4vh;
}
#profile-pic img{
    margin-top: 2vh;
    margin-right: 0;
    width: 45vw;
}
h1{
    font-size: 5vw;
}
.skills-container{
    flex-direction: column;
}
#skills-box{
    width: 80vw;
    margin: 2vh auto;
}
#project-box{
    margin: 2vh auto;
}
#content h2{
    font-size: 5vw;
}
#content2 img{
    width: 80vw;
}
#about-me{
    margin: 14vh 0vw 1vh 0vh;
    display: flex;
    flex-direction: column;
}
#about-bio p{
    margin-top: 3vh;
}
#contact-box{
    width: 80vw;
    height: auto;
    margin: 1vh auto;
    display: flex;
    flex-direction: column;
}
#content1 h2 {
    font-size: 7vw;
    margin-top: 3vh;
}
footer #name{
    font-size: 2rem;
}
#copy {
    font-size: 1rem;
}
#social-icons img {
    height: 10vw;
}
.contact-container{
    flex-direction: column;
}
