header{
    position: sticky;
    top: -3.1vh;
}
.navbar{
    flex-direction: column;
    height: auto;
    /* position: sticky; */
    /* top: 0; */
}
.txt_logo{
    margin-left: 0;
    font-size: 3vh;
    letter-spacing: 1vw;
}
.navbar ul li{
    position: relative;
    top: -0.4vh;
}
.navbar ul li a {
    padding: 9px;
    font-size: .7em;
    margin-top:-2vh;
    margin-top: -2vh;
}
#home-container{
    flex-direction: column-reverse;
    justify-content: center;
    margin-top: -8vh;
}
#bio p{
    line-height: 10vh;
    font-size: 1.1em;
    margin-left: 0;
    text-align: center;
}
#bio{
    text-align: center;
    margin-top: 4vh;
}
#profile-pic img{
    margin-top: 2vh;
    margin-right: 0;
    width: 4em;
}
h1{
    font-size: 5vw;
}
.skills-container{
    flex-direction: column;
    margin-top: 13vh;
}
#skills-box{
    width: 80vw;
    margin: 2vh auto;
}
#project-box{
    margin: 2vh auto;
}

#content h2{
    font-size: 5vw;
    letter-spacing: 1vw;
}
#content ul li span{
    font-weight: bold;
}
#content2 img{
    width: 80vw;
}
#about-me{
    margin: 14vh 0vw 1vh 0vh;
    display: flex;
    flex-direction: column;
}
#about-bio p{
    /* margin-top: 3vh; */
    text-align: justify;
    margin: 3vh 4vw 0 4vw;
}

#contact-box{
    width: 80vw;
    height: auto;
    margin: 2vh auto;
    display: flex;
    flex-direction: column;
}
#content1 h2 {
    font-size: 5vw;
    margin-top: 3vh;
    letter-spacing: 1vw;
}
footer #name{
    font-size: 1.5em;
}
#copy {
    font-size: 0.7em;
}
#social-icons img {
    height: 2em;
}
.contact-container{
    flex-direction: column;
    margin-top: 13vh;
}
