/* font-family: 'Hurricane', cursive; */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    font-family: 'Montserrat', sans-serif;
    background: rgb(233, 233, 233);
}
header{
    position: sticky;
    top: 0;
    z-index: 10;
}
.navbar{
    background-color: rgb(104, 187, 212);
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.txt_logo{
    margin-left: 2vw;
    cursor:default;
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    color: black;
}
#name{
    /* font-weight: bold; */
    /* letter-spacing: 0.1em; */
    font-family: 'Montserrat', sans-serif;
}
#name span{
    color: rgb(0, 38, 255);
    font-family: 'Montserrat', sans-serif;
    
}

.navbar ul{
    display: flex;
}
.navbar ul li{
    list-style-type: none;
    font-size: 1.1rem;
    letter-spacing: 0.1em;
    font-family: 'Montserrat', sans-serif;
}
.navbar ul li a{
    color: white;
    text-decoration: none;
    padding: 10px ;
}
.navbar ul li:hover{
    background-color: white;
    border-radius: 12px;
    /* border: bottom right radius 0;  */
    color: black;
}
.navbar ul li a:hover{
    color: black;
    font-weight: bold;
}
#home-container{
    background-color: rgb(104, 187, 212);
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}
.hi{
    margin-top: -40px;
    height: 100vh;
    /* background-color: rgb(69, 147, 219); */
    
    /* background-image: url(https://www.eschoolnews.com/files/2021/02/coding-platform-STEM-code.jpg) ; */
    /* background-repeat:no-repeat; */
    /* background-size: 100vw 100vh; */
    display: flex;
    align-items: center;
    justify-content:space-between;
    font-size: 3rem;
    letter-spacing: 7px;
    line-height: 60px;
    
    color: black;
}
#bio p{
    margin-left: 10vw;
    font-stretch: expanded;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.5em;
    line-height: 16vh;
}
#bio span{
    font-family: 'Permanent Marker', cursive;
}
#profile-pic img{
    width: 45vh;
    border-radius: 50%;
    margin-right: 15vw;
}
h1{
    position: relative ;
    top: 8vh;
    font-size: 3rem;
    letter-spacing: 0.5rem;
    margin: 10vh auto;
    text-align: center;
}

.skills-container{
    display: flex;
    justify-content:center ;
    padding: 0 5vw;
}
.contact-container{
    display: flex;
    justify-content: center;
    padding: 0 5vw;
    margin-bottom: 6vh;

}
#content{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-items: center;
    justify-content: center;
    margin: auto;
}
#content h2{
    /* margin: 0 1vw 0 5vw; */
    text-align: center;
    font-size: 2.5vw;
}
#content ul{
    /* margin: 0 1vw 0 5vw; */
    text-align: center;
    font-size: 0.9rem;
}
#content ul li{
    margin: 3vh 0 ;
}
#content ul li span{
    font-weight: bold;
}

#skills-box{
    /* height: 60vh; */
    width: 27vw;
    /* border: 1px solid rgb(6, 61, 94); */
    border-radius: 12px;
    margin: 10vh auto;
    padding: 4vh 0;
    box-shadow: rgb(121, 123, 126) 1vh 2vh 4vh -1vh, rgb(255, 255, 255) -2vh -2vh 1.6vh -1vh;
}
#skills-box:hover{
    box-shadow: inset 2vh 2vh 4vh -2vh rgb(121, 169, 236);
    box-shadow: rgb(121, 123, 126) inset 1vh 2vh 4vh -3vh, rgb(255, 255, 255) inset -2vh -2vh 2vh -1vh;

}
#skills-box img{
    width: 6vw;
}
#skills-box ul li{
    list-style-type: none;
}
#project-box{
    /* border: 1px solid rgb(6, 61, 94); */
    /* border-radius: 12px; */
    margin: 10vh auto;
    
}

#about-me{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 18vh 8vw 10vh 8vw;
}
#about-pic img{
    width: 22vw;
}
#about-bio p{
    margin-left: 4vw;
    text-align: justify;
}
#about-bio span{
    color: red;
    font-weight: bold;
}
#content2{
    display: flex;
    align-items: center;
    justify-content: center;
}
#content2 img{
    width: 40vw;
    /* border-radius: 12px; */
    box-shadow: rgb(121, 123, 126) 1vh 2vh 4vh -1vh, rgb(255, 255, 255) -2vh -2vh 1.6vh -1vh;
}
#contact-box{
    height: auto;
    width: 27vw;
    /* border: 1px solid rgb(6, 61, 94); */
    border-radius: 12px;
    margin: auto;
    display: flex;
    margin: 10vh auto;
    box-shadow: rgb(121, 123, 126) 1vh 2vh 4vh -1vh, rgb(255, 255, 255) -2vh -2vh 1.6vh -1vh;
    /* flex-direction: column; */
}
#contact-box:hover{
    box-shadow: rgb(121, 123, 126) inset 1vh 2vh 4vh -3vh, rgb(255, 255, 255) inset -2vh -2vh 2vh -1vh;

}
#contact-box img{
    margin: 1px 10vw;
    width: 6vw;
}
#content1{
    margin: auto;
}
#content1 h2{
    /* margin: 0 1vw 0 5vw; */
    text-align: center;
    font-size: 2.5vw;
}
#content1 ul{
    margin: 3vh auto;
    text-align: center;
    font-size: 0.9rem;
}
#content1 ul li{
    margin: 0 ;
}
#contact-box ul li{
    list-style-type: none;
}
footer{
    background-color: rgb(104, 187, 212);
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer #name{
    font-size: 1.6rem;
    font-weight:900;
    margin-top: 5vh;
}
#copy{
    font-size: .7rem;
}
#social-icons img{
    height: 3vw;
    margin-bottom: 5vh;
}
.reveal{
    position: relative;
    transform: translateY(100px);
    opacity: 0;
    transition: all 1s ease;
}
.reveal.active{
    transform: translateY(0);
    opacity: 1;
}
.reveal1{
    position: relative;
    /* transform:scale(1.5); */
    opacity: 0;
}
.active1{
    /* transform: translateY(0); */
    opacity: 1;
    transition: all 1s ease-in-out;
}
